{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: #F8F9FA;"><b>☎️ Contact-Us</b></h1>
        <p class="lead" style="font-weight: 500;color: white;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 shadow rounded-lg" style="height: 95%; background-color: rgba(44, 62, 80, 0.5);">
            <center>
                <h3 style="color: white;">Vikhyat Chaturvedi</h3>
                <p class="lead" style="font-weight: 350; color: white;">Hi 👋, I'm Vikhyat Chaturvedi
👨‍💻 Coder | 🔧 Building Projects | 🌱 Exploring New Technologies | 🌍 Contributor to Open Source
🌱 I’m currently learning Data Analysis

⚡ Fun fact The first ever computer bug was a real bug—a moth found stuck in a Harvard Mark II computer in 1947! 🦋💻 </p>
            </center>
            <div>
                <h5 style="color: white;">Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:vikhyatchaturvedi0931@gmail.com'><img
                        src="https://cdn-icons-png.flaticon.com/128/3178/3178158.png" height="40" width="40"> </a><a style="color: white;">:
                vikhyatchaturvedi0931@gmail.com</a><br><br>
                <a target="_blank" href='https://linkedin.com/in/vikhyat%20chaturvedi'><img
                        src="https://cdn-icons-png.flaticon.com/128/1384/1384014.png" height="44"
                        width="44"></a> <a style="color: white;">: Vikhyat Chaturvedi</a><br><br>
            </div>
        </div>
    </div>

   

{% endblock body %}